<% provide(:title, 'Show Reading') %>
<div class="row">
  <div class="span1"></div>
  <div class="span1" style="vertical-align:middle;display:table-cell;float:none">
    <button type="button" class="btn btn-default btn-lg" id="prev-month-button">
      Prev Month <
    </button>
    <button type="button" class="btn btn-default btn-lg" id="prev-year-button">
      Prev Year <<
    </button>
  </div>
  <div class="span8" style="vertical-align:middle;display:table-cell;float:none">
      <h1 id='heading'>Preparing Readings</h1>
      <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <script type="text/javascript">
          google.load("visualization", "1", {packages:["corechart"]});
          google.setOnLoadCallback(onLoad);
          var year = <%= @year %>;
          var month = <%= @month %>;

          function onLoad() {
              fetchMonth();
              $("#prev-month-button").click(function(){
                  month = month - 1;
                  if ( month < 1 ) { month = 12; year -= 1; }
                  fetchMonth();
              });

              $("#prev-year-button").click(function(){
                  year = year - 1;
                  fetchMonth();
              });

              $("#next-month-button").click(function(){
                  month = month + 1;
                  if ( month > 12 ) { month = 1; year += 1; }
                  fetchMonth();
              });

              $("#next-year-button").click(function(){
                  year = year + 1;
                  fetchMonth();
              });
          }

          function fetchMonth() {
              var query = new google.visualization.Query('show_month.json?date='+year+'-'+month);
              query.send(handleQueryResult)
          }

          function handleQueryResult(response) {
              $('#heading').text('Readings for '+year+'-'+month);
              //location.href = '?date='+year+'-'+month;
              var data = response.getDataTable();

              var options = {
                  title: 'Solar Panel Output',
                  vAxis: {title:"KWh", viewWindowMode: 'explicit', viewWindow:{max:30, min:0}},
                  seriesType:"bars"
              };

              // Create and draw the visualization.
              new google.visualization.ComboChart(document.getElementById('chart_div')).
                      draw(data, options);
          }

      </script>
      <div id="chart_div" style="width: 100%; height: 500px; position: relative; "></div>
      <!--<div class="text-center">Total Power = <%#= total_power.round(3) %> kWh</div>-->
  </div>
  <div class="span1" style="vertical-align:middle;display:table-cell;float:none">
    <button type="button" class="btn btn-lg" id="next-month-button">
      Next Month >
    </button>
    <button type="button" class="btn btn-lg" id="next-year-button">
      Next Year >>
    </button>
  </div>
</div>