<% provide(:title, 'Show Reading') %>
<div class="row">
    <div class="span1"></div>
    <div class="span1" style="vertical-align:middle;display:table-cell;float:none">
        <button type="button" class="btn btn-default btn-lg" id="prev-month-button">
          Prev Month <
        </button>
        <button type="button" class="btn btn-default btn-lg" id="prev-year-button">
          Prev Year <<
        </button>
    </div>
    <div class="span8" style="vertical-align:middle;display:table-cell;float:none">
        <h1 id="heading">Readings for <%= @date %></h1>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(onLoad);
            var year = <%= @year %>;
            var month = <%= @month %>;
            var day = <%= @day %>

            function onLoad() {
                fetchDay();
                $("#prev-month-button").click(function(){
                    month = month - 1;
                    if ( month < 1 ) { month = 12; year -= 1; }
                    fetchDay();
                });

                $("#prev-year-button").click(function(){
                    year = year - 1;
                    fetchDay();
                });

                $("#next-month-button").click(function(){
                    month = month + 1;
                    if ( month > 12 ) { month = 1; year += 1; }
                    fetchDay();
                });

                $("#next-year-button").click(function(){
                    year = year + 1;
                    fetchDay();
                });
            };

            function fetchDay() {
                var query = new google.visualization.Query('show_day.json?date='+year+'-'+month+'-'+day);
                query.send(handleQueryResult)
            }

            function handleQueryResult(response) {
                $('#heading').text('Readings for '+year+'-'+month+'-'+day);
                var data = response.getDataTable();

              // Create and draw the visualization.
                new google.visualization.LineChart(document.getElementById('chart_div')).
                    draw(data, {vAxes: {0: {maxValue: 4},
                                        1: {maxValue: 30}},
                                hAxis: {viewWindowMode: 'pretty'},
                                series: {0:{targetAxisIndex:0},
                                         1:{targetAxisIndex:1}}
                    }
                );
            }
        </script>
        <div id="chart_div" style="width: 100%; height: 500px; position: relative; "></div>
    </div>
    <div class="span1" style="vertical-align:middle;display:table-cell;float:none">
        <button type="button" class="btn btn-lg" id="next-month-button">
            Next Month >
        </button>
        <button type="button" class="btn btn-lg" id="next-year-button">
            Next Year >>
        </button>
    </div>
</div>
