<% provide(:title, 'Show Reading') %>
<div class="row">
    <div class="span1"></div>
    <div class="span1" style="vertical-align:middle;display:table-cell;float:none">
        <button type="button" class="btn btn-lg" id="prev-day-button">
          Prev Day<br>&lt;
        </button>
        <button type="button" class="btn btn-lg" id="prev-month-button">
          Prev Month &lt;&lt;
        </button>
        <button type="button" class="btn btn-lg" id="prev-year-button">
          Prev Year &lt;&lt;&lt;
        </button>
    </div>
    <div class="span8" style="vertical-align:middle;display:table-cell;float:none">
        <h1 id="heading">Readings for <%= @date %></h1>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("visualization", "1", {packages:["corechart"]});

            var year = <%= @year %>;
            var month = <%= @month %>;
            var day = <%= @day %>;

            $(function() {onLoad();});

            function onLoad() {
                fetchDay(new Date(year, month-1, day));
                $("#prev-day-button").click(function(){
                    fetchDay(new Date(year, month-1, day-1));
                });

                $("#prev-month-button").click(function(){
                    fetchDay(new Date(year, month-2, day));
                });

                $("#prev-year-button").click(function(){
                    fetchDay(new Date(year-1, month-1, day));
                });

                $("#next-day-button").click(function(){
                    fetchDay(new Date(year, month-1, day+1));
                });

                $("#next-month-button").click(function(){
                    fetchDay(new Date(year, month, day));
                });

                $("#next-year-button").click(function(){
                    fetchDay(new Date(year+1, month-1, day));
                });
            };

            function fetchDay(date) {
                year = date.getFullYear();
                month = date.getMonth()+1;
                day = date.getDate();
                var query = new google.visualization.Query('show_day.json?date='+year+'-'+month+'-'+day);
                query.send(handleQueryResult)
            }

            function handleQueryResult(response) {
                $('#heading').text('Readings for '+year+'-'+month+'-'+day);
                var data = response.getDataTable();

              // Create and draw the visualization.
                new google.visualization.LineChart(document.getElementById('chart_div')).
                    draw(data, {vAxes: {0: {maxValue: 4},
                                        1: {maxValue: 30}},
                                hAxis: {viewWindowMode: 'pretty'},
                                series: {0:{targetAxisIndex:0},
                                         1:{targetAxisIndex:1}}
                    }
                );
            }
        </script>
        <div id="chart_div" style="width: 100%; height: 500px; position: relative; "></div>
    </div>
    <div class="span1" style="vertical-align:middle;display:table-cell;float:none">
        <button type="button" class="btn btn-lg" id="next-day-button">
          Next Day<br>&gt;
        </button>
        <button type="button" class="btn btn-lg" id="next-month-button">
            Next Month &gt;&gt;
        </button>
        <button type="button" class="btn btn-lg" id="next-year-button">
            Next Year &gt;&gt;&gt;
        </button>
    </div>
</div>
